@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
@import "vars";

body {
    background-color: darken($dark, 5%);
    color: $dark;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid lighten($dark, 20%);
    margin-bottom: 2rem;
}

.card {
    background-color: $gold;
    border-color: none;
    .card-body {
        padding: 1.5rem;
    }
}

.btn-group {
    border-radius: 0;

    .btn {
        border-radius: 0;
        &.btn-outline-dark {
            border-color: lighten($dark, 20%);
            font-weight: 700;
            &:hover {
                border-color: darken($dark, 5%);
            }
            small {
                font-size: 0.8rem;
            }
        }
    }
}

.alert {
    border-radius: 0;
    font-weight: 700;
    font-size: 1rem;
    display: inline-block;

    &-danger {
        background-color: $blood;
        border: none;
        color: $gold;
    }

    &-success {
        background-color: $green;
        border: none;
        color: $white;
    }
}

.form-group {
    .form-control {
        border-color: lighten($dark, 20%);
        background-color: $gold;
        border-radius: 0;
        font-weight: 700;
        font-size: 1rem;

        &:focus {
            box-shadow: 0 0 0 0.25rem $white;
            border-color: $white;
        }

        &::placeholder {
            color: darken($gold, 40%);
            font-style: italic;
            font-weight: 400;
        }
    }
    .form-label {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
        margin-top: 1rem;
        font-size: 12px;
    }
}

.navbar {
    .navbar-brand {
        font-weight: 900;
        letter-spacing: 8px;
        color: darken($gold, 5%);
    }
    .nav-link {
        font-weight: 700;
    }
}

.signup {
    min-width: 460px;
    margin-top: 3rem;
}

.dashboard {
    width: 100%;
    min-width: 460px;
    margin-top: 3rem;
}
